body{
	background: #ccc;
	padding-top: 20px;
}

.brand img{
	height: 20px;
}

.blog{
	img{
		width: 80px;
		float: left;
		padding-right: 10px;
	}

	&.full{
		img{
			width: 160px;
		}
	}
}


.navbar .btn, .navbar .btn-group {
	margin-top: 0px;
}

.music{
	background: #fff;
	height: auto;
	padding-top: 40px;
}

.top{
	li{
		font-size: 14px;
		line-height: 30px;
	}
	ol, h2{
		padding-left: 20px;
	}
}

.span9 h3{
	padding-top: 20px;
	padding-left: 30px;
}

footer{
	height: auto;
	width: 940px;
	text-align: center;
}