<div class="row">
	<div class="span3 top">
		<h2>Top</h2>
		<ol>
			<li value="1">Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
		</ol>
	</div>
	<div class="span9" id="mainContainer">

	</div>


	<script type="text/template" id="NewsContainer">
		<div class="row news">
			<h3>Новости</h3>
		</div>
	</script>

	<script type="text/template" id="AlbumContainer">
		<div class="row albums">
			<h3>Альбомы</h3>
		</div>
	</script>

	<script type="text/template" id="PostView">
		<img src="img/album cover_1.png" class="" alt/>
		<h4><a href="!/#post/<@= _id @>" class="view-post"><@= title @></a></h4>
		<p class="clearfix"><@= content @></p>
	</script>

	<script type="text/template" id="PostFull">
		<div class="blog full">
			<h2><@= title @></h2>
			<img src="img/album cover_1.png" class="" alt/>
			<p class="clearfix"><@= content @></p>
		</div>
	</script>

	<script type="text/template" id="AlbumView">
		<img src="img/album cover_2.png" alt/>
		<h4>Название альбома</h4>

		<p class="clearfix">"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, -
			"Сплин". </p>
	</script>

</div>