<div class="row">
	<div class="span3 top">
		<h2>Top</h2>
		<ol>
			<li value="1">Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
			<li>Баста - Раз и навсегда</li>
		</ol>
	</div>
	<div class="span9">
		<div class="row" id="mainContainer">

		</div>
	</div>


	<script type="text/template" id="SiteIndex">
		index action
	</script>



	<div class="span9">
		<div class="row">
			<h3>Альбомы</h3>
			<div class="span4 blog">
				<a href="/" title=""><img src="img/album cover_1.png" alt /></a>
				<h4>Название альбома</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
				<a href="/" title=""><img src="img/album cover_2.png" alt /></a>
				<h4>Название альбома</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
			</div>
			<div class="span4 blog">
				<a href="/" title=""><img src="img/album cover_3.png" alt /></a>
				<h4>Название альбома</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
				<a href="/" title=""><img src="img/album cover_4.png" alt /></a>
				<h4>Название альбома</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
			</div>
		</div>
	</div>
	<div class="span9">
		<div class="row">
			<h3>Новости</h3>
			<div class="span4 blog">
				<a href="/" title=""><img src="img/album cover_5.png" alt /></a>
				<h4>Название новости</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
				<a href="/" title=""><img src="img/album cover_6.png" alt /></a>
				<h4>Название новости</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
			</div>
			<div class="span4 blog">
				<a href="/" title=""><img src="img/album cover_7.png" alt /></a>
				<h4>Название новости</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
				<a href="/" title=""><img src="img/album cover_8.png" alt /></a>
				<h4>Название новости</h4>
				<p>"Сигнал из космоса" является десятый студийный альбом рок-группы Санкт-Петербурга, - "Сплин". </p>
			</div>
		</div>
	</div>
</div>